@model HaarlemFestival_Web.Models.ShoppingCart

@{
    ViewBag.Title = "Order Tickets";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}

<h2>Your tickets - overview</h2>


@if (Model.tickets.Count != 0)
{
    <table class="table-primary" style="width:100%">
        <tr class="table-responsive-md">
            <th>DEV</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price per ticket</th>
            <th>Total price</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        @foreach (var item in Model.tickets)
        {
            using (Html.BeginForm("EditTicket", "Ticket", FormMethod.Post, new { TicketId = Html.Value("TicketId"), Amount = Html.Value("Amount"), Option = Html.Value("submit") }))
            {
                @Html.ValidationSummary()
                <tr style="border-top-style:solid; border-top-width:1px; border-top-color:black">
                    <td>@item.Id</td>
                    <td>@item.Activity.Name</td>
                    <td><input type="number" name="amount" value="@item.Amount" /></td>
                    <td>&euro;@item.Price</td>
                    <td>&euro;@(item.Price * item.Amount)</td>
                    <td>@item.Activity.StartTime.ToShortDateString()</td>
                    <td>@item.Activity.StartTime.ToShortTimeString() - @item.Activity.EndTime.ToShortTimeString()</td>

                    <td><input type="number" name="TicketId" hidden="hidden" value="@item.Id" /></td>
                    <td><input class="btn-warning" name="submit" value="Update Amount" type="submit" /></td>
                    <td><input class="btn-warning" name="submit" value="Remove Ticket" type="submit" /></td>
                </tr>
            }
        }
    </table>

    <br />
    <br />
    <a href="/Ticket/Index">Back to all tickets</a>
}
else
{
    <br />
    <h3 class="alert-warning">No tickets ordered</h3>

    <a href="~/Ticket/" class="alert-info">Order tickets here</a>
}

