<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Haarlem Festival</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="../Content/NavigationBar.css" />
</head>
<body>
    <div class="topnav">

        @if (Request.Url.AbsolutePath.Contains("Historic"))
        {
            <a href="../Pages/Home/Index">Home</a>
            <a href="../Pages/Historic" id="historic" class="active">Historic Tours</a>
            <a href="../Pages/Dining" id="dining">Dining in Haarlem</a>
            <a href="../Pages/Jazz" id="jazz">Jazz@Patronaat</a>
            <a href="../Pages/Talking" id="talking">Talking Haarlem</a>
        }
        else if (Request.Url.AbsolutePath.Contains("Dining"))
        {
            <a href="../Pages/Home/Index">Home</a>
            <a href="../Pages/Historic" id="historic">Historic Tours</a>
            <a href="../Pages/Dining" id="dining" class="active">Dining in Haarlem</a>
            <a href="../Pages/Jazz" id="jazz">Jazz@Patronaat</a>
            <a href="../Pages/Talking" id="talking">Talking Haarlem</a>
        }
        else if (Request.Url.AbsolutePath.Contains("Jazz"))
        {
            <a href="../Pages/Home/Index">Home</a>
            <a href="../Pages/Historic" id="historic">Historic Tours</a>
            <a href="../Pages/Dining" id="dining">Dining in Haarlem</a>
            <a href="../Pages/Jazz" id="jazz" class="active">Jazz@Patronaat</a>
            <a href="../Pages/Talking" id="talking">Talking Haarlem</a>
        }
        else if (Request.Url.AbsolutePath.Contains("Talking"))
        {
            <a href="../Pages/Home/Index">Home</a>
            <a href="../Pages/Historic" id="historic">Historic Tours</a>
            <a href="../Pages/Dining" id="dining">Dining in Haarlem</a>
            <a href="../Pages/Jazz" id="jazz">Jazz@Patronaat</a>
            <a href="../Pages/Talking" id="talking" class="active">Talking Haarlem</a>
        }
        else
        {
            <a href="../Pages/Home/Index">Home</a>
            <a href="../Pages/Historic" id="historic">Historic Tours</a>
            <a href="../Pages/Dining" id="dining">Dining in Haarlem</a>
            <a href="../Pages/Jazz" id="jazz">Jazz@Patronaat</a>
            <a href="../Pages/Talking" id="talking">Talking Haarlem</a>
        }

    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>