<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Haarlem Festival</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="../Content/NavigationBar.css" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="nav">
            <ul class="nav navbar-nav navbar-static-top">
                <li><a href="../Pages/Home/Index">Home</a></li>
                <li><a href="../Pages/Historic">Historic Tours</a></li>
                <li><a href="../Pages/Dining">Dining in Haarlem</a></li>
                <li><a href="#">Jazz@Patronaat</a></li>
                <li><a href="../Pages/Talking">Talking Haarlem</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>