<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Haarlem Festival</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="../Content/NavigationBar.css" />
</head>
<body>
        <div class= "topnav">
                <a href="../Pages/Home/Index">Home</a>
                <a href="../Pages/Historic">Historic Tours</a>
                <a href="../Pages/Dining">Dining in Haarlem</a>
                <a href="#">Jazz@Patronaat</a>
                <a href="../Pages/Talking">Talking Haarlem</a>
        </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>