<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="~/Content/Admin.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>

    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Admin.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-3 pl-1">
    <div class="top-bar col-lg-12 mt-0 mb-3">
        @if (Session["Id"] != null)
        {
            <h4 class="pt-2">Hello, @Session["Username"].ToString()</h4>
        }
    </div>

    <!--Aside-->
    @Html.Partial("_Aside")

    <div class="col-lg-9 main-content border-left ml-3 pl-4">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>