@model List<HaarlemFestival_Web.Models.Dining>
@{
    ViewBag.Title = "Dining";
    Layout = "~/Views/Shared/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="../Content/Dining.css" />

<head>
    @*<script>
        $(document).load(function ()
        {
            $('.dining').addClass('white-header')
            $('.historic').removeClass('white-header')
            $('.jazz').removeClass('white-header')
            $('.talking').removeClass('white-header')
        });

    </script>*@
</head>
<body>
    <div class="btn-group">
        <button>Show all</button>
        <button>@Model[0].Restaurant.Cuisines</button>
        <button>@Model[1].Restaurant.Cuisines</button>
        <button>@Model[2].Restaurant.Cuisines</button>
        <button>@Model[3].Restaurant.Cuisines</button>
        <button>@Model[4].Restaurant.Cuisines</button>
        <button>@Model[5].Restaurant.Cuisines</button>
        <button>@Model[6].Restaurant.Cuisines</button>
        <button>@Model[7].Restaurant.Cuisines</button>
        <button>@Model[8].Restaurant.Cuisines</button>
    </div>
</body>