@model IList<HaarlemFestival_Web.Models.Subject>

@{
    Layout = null;
}

<link rel="stylesheet" href="../Content/Home.css" />


<table>
    <tr>
        <td style="background-image:url(@Model[0].ImagePath)">
            <span class="Subject">@Html.DisplayFor(m => Model[0].Name)</span>
             <br />
            <span>@Html.DisplayFor(m => Model[0].Description)</span>
        </td>
        <td style="background-image:url(@Model[1].ImagePath)">
            <span class="Subject">@Html.DisplayFor(m => Model[1].Name)</span>
            <br />
            <span>@Html.DisplayFor(m => Model[1].Description)</span>
        </td>
    </tr>
    <tr>
        <td style="background-image:url(@Model[2].ImagePath)">
            <span class="Subject">@Html.DisplayFor(m => Model[2].Name)</span>
            <br />
            <span>@Html.DisplayFor(m => Model[2].Description)</span>
        </td>
        <td style="background-image:url(@Model[3].ImagePath)">
            <span class="Subject">@Html.DisplayFor(m => Model[3].Name)</span>
            <br />
            <span>@Html.DisplayFor(m => Model[3].Description)</span>
        </td>
    </tr>
</table>