@model IList<HaarlemFestival_Web.Models.Subject>

@{
    Layout = null;
}
<link rel="stylesheet" href="../Content/Home.css" />
<main>
    <table class="SubjectTable">

        <tr id="FirstRow">
            <td class="SubjectColumn" id="Jazz">
                <a href="~/Views/Jazz/index.cshtml">
                    <section class="overlay" id="JO">
                        <h1 class="SubjectTitle">@Model[0].Name</h1> <br />
                        @*<h2 class="SubjectDescription">@Model[0].Description</h2>*@
                    </section>
                </a>
            </td>

            <td class="SubjectColumn" id="Talking">
                <a href="~/Views/Talking/index.cshtml">
                    <section class="overlay" id="TO">
                        <h1 class="SubjectTitle">@Model[1].Name</h1><br />
                        @*<h2 class="SubjectDescription">@Model[1].Description</h2>*@
                    </section>
                </a>
            </td>
        </tr>
        <tr id="SecondRow">
            <td class="SubjectColumn" id="Tours">
                <a href="~/Views/Tours/index.cshtml">
                    <section class="overlay" id="WO">
                        <h1 class="SubjectTitle">@Model[2].Name</h1> <br />
                        @*<h2 class="SubjectDescription">@Model[2].Description</h2>*@
                    </section>
                </a>
            </td>

            <td class="SubjectColumn" id="Dining">
                <a href="~/Views/Dining/index.cshtml">
                    <section class="overlay" id="DO">
                        <h1 class="SubjectTitle">@Model[3].Name</h1><br />
                        @*<h2 class="SubjectDescription">@Model[3].Description</h2>*@
                    </section>
                </a>
            </td>
        </tr>
    </table>

    <section id="logo">
        <img src="~/Content/Images/logo.png" />
        <center><h3 id="logotekst">Haarlem Festival</h3></center>
    </section>
</main>