@using HaarlemFestival_Web.Models
@using HaarlemFestival_Web.Models.ViewModels
@model List<Interviewee>

@{
    ViewBag.Title = "EditTalking";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h2>@Html.ActionLink("Dashboard", "Index") > @Html.ActionLink("Select Main Event Page", "PageContent") > Talking</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @foreach (Interviewee i in Model)
        {
            <div class="form-group">
                <b><label>Speaker Name:</label></b>
                <br /> <text>@i.Name </text>
            </div>

            <div class="form-group">
                <b><label>Speaker Description:</label></b>
                <br /> <text class="col-lg-6">@i.Description</text>
            </div>

            @Html.ActionLink(linkText: "Edit Speaker",
                    actionName: "EditInterviewee",
                    controllerName: "Dashboard",
                    routeValues: new { id = i.Id},
                    htmlAttributes: new { @class = "icon-1 info-tooltip", @Title = "Edit" })
            <hr />
        }
    </div>
}

<div>
    @Html.ActionLink("Back", "PageContent")
</div>
